<div class='wrapper'>
  <div class='side-bar'>
    <div class='side-bar-header'>
      <div class='header-title'>
       RISUKE<div class='sub-title'>ー理学療法評価アプリー</div>
      </div>
    </div>
  <div class='menus'>
    <div class='menu'>
      <div class='menu-name'>
        <a href="#">セラピスト登録</a>
      </div>
    </div>
    <div class="menu">
      <div class="menu-name">
        <a href="#">ログイン</a>
      </div>
    </div>
    <div class="menu">
      <div class="menu-name">
       <a href="#">患者登録</a>
      </div>
    </div>
    <div class="menu">
      <div class="menu-name">
        <a href="#">ログアウト</a>
      </div>
    </div>
  </div>
  </div>
 <div class='main-contents'>
  <div class='main-title'>
   <div class='title'>
    <div class="maru size_normal pink1">
       <div class="letter1">理</div>
    </div>
    <span class="letter1-title">学療法士を</span>
    <br />
    <div class="maru size_normal pink2">
       <div class="letter2">助</div>
    </div>
    <span class="letter2-title">ける！</span>
    </div>
      <div class="main-title-pict">
      <%= image_tag "1519292803.png", size: "550x400" %>
      </div>
  </div>
 </div>
</div>

   